<style>
.btn-upload {
  color: #009ee3;
  font-size: 20px;
  font-weight: bold;
  background-color: #009ee326;
  border: 0px;
  width: 200px;
  height: 200px; 
}

.input-file {
  position: absolute;
  height: 200px;
  width: 200px;
  cursor: pointer;
  opacity: 0; 
}
</style>
<div class="row" style="margin: 30px;">
    <form>
    <div class="col">
        Bucket Name: <input type="text" name="bucketName" id="bucketName" ng-model="bucketName" > 
        - Folder: <input type="text" name="folder" id="folder" ng-model="folder"> <br><br>
        <input type="file" id="files" name="files" class="input-file" onchange="angular.element(this).scope().loadFiles(this.files)"
            multiple />
        <button class="btn-upload">Choose a file</button>
    </div>
    </form>
    <div class="col" ng-show="loadItems">
        Loading server items...
    </div>
    <div class="col" ng-hide="loadItems">
        <table class="table table-striped" ng-show="files.length > 0">
            <thead>
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Bucket</th>
                    <th scope="col">File</th>
                    <th scope="col">Size</th>
                    <th scope="col">Imported</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in files">
                    <td>
                        <button ng-click="deleteFile(file)">X</button>
                        <button ng-click="downloadFile(file)">Download</button>
                    </td>                    
                    <th>{{file.bucketName}}</th>
                    <th>{{file.name}}</th>
                    <th>{{file.size / 1000}} Kb</th>
                    <th>{{file.import}}</th>
                </tr>
            </tbody>
        </table>

    </div>
</div>
